<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tech Tracker</title>
		<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="../static/js/jquery-1.11.1.min.js" rel="stylesheet">

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }} 

	</head>

	<body>
		
		<div class="header">
            <i class="fa fa-cogs fa-2x"></i>
			<a href="home">Tech Tracker</a>
            <p>The current date and time is: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>
		</div>
            {% block content %}
            {% endblock %}
	</body>

</html>
