		
{% extends "base.html" %}
{% block content %}

<div class="submissionbox">
{% if success %}
<h1 class="successtext">Thanks{{name}}, your Job will be reviewed shortly</h1>
{% else %}
	<h3>Get help fast!</h3>
	<hr>

    <form action="{{url_for('submit') }}" method=post>
        
        {% for message in form.name.errors %}
        <p class="flash">{{message}}</p>
        {% endfor %}

        {% for message in form.desc.errors %}
        <p class="flash">{{message}}</p>
        {% endfor %} 

	    {{ form.hidden_tag() }}

        {{form.name.label}}
        {{form.name(placeholder="First Last")}}

        {{form.desc.label}}
        {{form.desc(rows=7, cols=10)}}

        {{form.submit(class="submitbutton")}}
    </form>
</div>
{% endif %}
{% endblock %}
