{% extends "base.html" %}
{% block content %}

<div class="submissionbox">
   <h2 class="currentjobtitle">Current Jobs</h2>
   <hr>
    
   {% if jobs %}
   <table class="jobtable">
       <thead class="viewtableheader">
                <th colspan="1">Name</th>
                <th colspan="4">Description</th>
                <th colspan="1">Finished</th>
       </thead>
       <tbody>
    {% for job in jobs %}
        <tr class="jobtablerow">
            <td colspan="1">{{job.name}}</td>
            <td colspan="4">{{job.desc}}</td>
            <td colspan="1">{{job.completed}}</td>
        </tr>
    {% endfor %} 
       </tbody>
    </table>

    {% else %}
        <p class="nojobstext">There are no jobs scheduled :)</p>
    {% endif %}
</div>
{% endblock %}
